<div class="col-6 border-end border-start border-1 border-secondary mt-2 text-start">
  <div class="mb-3">
    <%= link_to "Home", dashboard_path, class: "text-white text-decoration-none fs-3"%>
  </div>
  <%= form_with model: Tweet.new, method: :post, url: tweets_path, class: "w-100 tweetForm" do |f| %>
    <%= f.text_area :body, placeholder: "What's happening?", class: "form-control w-100 tweet-input text-white" %>
    <div class="d-flex justify-content-end">
    <%= f.submit "Post", class: "btn btn-light text-decoration-none fs-5 m-2 fw-semibold rounded-pill px-4"%>
    </div>
  <% end %> 
  <%= render "shared/tweet_modal" %>
  <div id="tweets" class="mt-3">
    <%= render Tweet.order(created_at: :desc) %>
  </div>

</div>
<div class="col-3">
</div>
